<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }


    .navbar,
    .navbar-expand,
    .navbar-toggler-icon {
        background-color: #f37a05; /* Change navbar background color to orange */
        color: #FFF; /* Change navbar text color to white */
    }

    h3,
    a {
        color: #f37a05; /* Change h3 and anchor text color to orange */
    }

    a {
        cursor: pointer;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }

    li {
        list-style: none;
    }

    /* Layout skeleton */

    .wrapper {
        align-items: stretch;
        display: flex;
        width: 100%;
    }

    #sidebar {
        max-width: 264px;
        min-width: 264px;
        transition: all 0.35s ease-in-out;
        box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
        z-index: 1111;
        background-color: #ffffff; /* Change sidebar background to white */
    }

    /* Sidebar collapse */

    #sidebar.collapsed {
        margin-left: -264px;
    }

    .main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
        transition: all 0.35s ease-in-out;
    }

    .sidebar-logo {
        padding: 1.15rem 1.5rem;
        color: #f37a05; /* Change sidebar logo text color to orange */
    }

    .sidebar-logo a {
        color: #f37a05;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .sidebar-nav {
        padding: 0;
    }

    .sidebar-header {
        color: #f37a05; /* Change sidebar header color to orange */
        font-size: .75rem;
        padding: 1.5rem 1.5rem .375rem;
    }

    a.sidebar-link {
        padding: .625rem 1.625rem;
        color: #f37a05; /* Change sidebar link color to orange */
        position: relative;
        display: block;
        font-size: 1rem;
    }

    .sidebar-link[data-bs-toggle="collapse"]::after {
        border: solid;
        border-width: 0 .075rem .075rem 0;
        content: "";
        display: inline-block;
        padding: 2px;
        position: absolute;
        right: 1.5rem;
        top: 1.4rem;
        transform: rotate(-135deg);
        transition: all .2s ease-out;
    }

    .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
        transform: rotate(45deg);
        transition: all .2s ease-out;
    }

    .content {
        flex: 1;
        max-width: 100vw;
        width: 100vw;
    }

    .pages {
        padding: 1.5rem 1.5rem 0;
        width: 100%;
        max-width: 100vw;
    }
    /* Responsive */

    @media (min-width:768px) {
        .content {
            width: auto;
        }
    }
</style>
<body>
    <aside id="sidebar">
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="#">CodzSword</a>
            </div>
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Tools & Components
                </li>
                <li class="sidebar-item">
                    <a href="/admin/services" class="sidebar-link">
                        <i class="fa-solid fa-list pe-2"></i>
                        Services
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/admin/services/new" class="sidebar-link">
                        <i class="fa-solid fa-list pe-2"></i>
                        Add Services
                    </a>
                </li>
          
            </ul>
        </div>
    </aside>
    <!-- Main Component -->
</body>
