<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
</head>
<body>
    <h1>Forget Password</h1>
    <% if (error.length > 0) { %>
        <p><%= error %></p>
    <% } %>
    <form action="/user/forgetPassword" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
